[submodule "api"]
	path = api
	url = https://github.com/masayukig/openstack-health-api-docker
[submodule "frontend"]
	path = frontend
	url = https://github.com/masayukig/openstack-health-frontend-docker
[submodule "subunit2sql"]
	path = subunit2sql
	url = https://github.com/masayukig/openstack-health-subunit2sql-docker
